<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://c1.wallpaperflare.com/preview/570/413/91/interior-theatre-theater-empty-theater.jpg)">
  Save your favorite movies
</div>
<div class="lists-line-title">
  <h2>Your personnal lists</h2>
</div>
<div class="lists-container">
  <% @user_lists.each do |list| %>
  <div class="list">
    <div class="list-img">
      <%= cl_image_tag list.photo.key, crop: :fill %>
    </div>
    <div class="list-title">
    <%= link_to list.name, list_path(list) %>
    </div>
  </div>
    <% end %>
  <div class="list" id="addlist-container">
    <div id="addlist">
      <%= link_to new_list_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
