h1 {
  margin: 20px;
  font-family: helvetica;
  font-weight: bold;
}

.movie-show {
  margin: 20px 300px;
  display: flex;
}

.movie-infos {
  text-align: center;
  padding: 10px 20px;
}

.movie-rating {
  justify-content: center;
  padding: 40px 0;
    display: flex;
}

.star h2 {
  color: gold;
  font-size: 25px;
}
