.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.header-btn {
  margin: 30px 10px;
}

.movie-poster img {
  height: 600px;
}

.movie-body {
  position: relative;
  display: flex;
}

.movie-info {
  width: 100%;
  text-align: center;
  padding: 6px 10px;
  h6 {
  font-size: 16px;
  margin: 4px;
  }
}

.movie-overview {
  margin-bottom: 30px;
  padding: 0 20px;
}

.movie-img img {
  height: 200px;
  overflow: none;
  object-fit: cover;
}

.card-title a {
  font-weight: bold;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.movie-delete-button {
  position: absolute;
  margin-left: 22px;
  bottom: 10px;
}
