.movie-show-header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 50px;
  h1 {
    margin: 20px;
    font-family: helvetica;
    font-weight: 600;
  }
}

#remove-movie {

}

.movie-show {
  margin: 24px 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-not-seen {
  margin-right: 8px;
  padding-bottom: 20px;
}

.movie-infos {
  text-align: center;
  padding: 10px 20px;
  width: 700px;
  width-min: 560px;
  flex-grow: 1;
}

.movie-rating {
  justify-content: center;
  padding: 16px 0 40px 0;
    display: flex;
}

.star h2 {
  color: gold;
  font-size: 25px;
}

.movie-show-overview {
  margin-bottom: 30px;
  padding: 0 10%;
  h2 {
  font-size: 24px;
  }
}

.youtube-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.youtube-video {
  width: 520px;
  height: 280px;
}

.movie-poster {
  margin-left: 36px;
  img {
    height: 600px;
  }
}

@media only screen and (max-width: 1400px) {
.movie-poster {
  margin-left: 36px;
  img {
    height: 400px;
  }
}
}

@media only screen and (max-width: 900px) {
  .movie-show-header {
    padding: 0 12px 0 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    h1 {
      font-size: 24px;
      font-family: helvetica;
      font-weight: bold;
    }
  }
  .movie-infos {
  padding: 8px 8px;
  }
  .movie-poster {
    margin-left: 0;
  }
  .movie-show-overview {
    padding: 0;
  }
  .movie-rating {
    padding: 0;
    i {
      font-size: 12px;
    }
  }
  #remove-movie {
  margin: 20px 0;
  }
  .youtube-video {
    width: 100%;
    padding: 0;
    height: 150px;
    object-fit: cover;
  }
}
