.movies-index-container {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie-img {
  position: relative;
  img {
    height: 300px;
    width: 205px;
    border: 1px solid rgba(0, 0, 0, 0.315);
  }
}


.movie-body {
  position: relative;
  margin: 12px;
  overflow: hidden;
  height: 300px;
  width: 205px;
  &:hover {
    cursor: pointer;
    .movie-info {
      opacity: 1;
      transform: translateY(0%);
      transition: 0.2s;
    }
  }
  .movie-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 205px;
    text-align: center;
    align-items: center;
    color: white;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.719);
    opacity: 0;
    transform: translateY(50%);
    transition: 0.2s;
  }
}

.card-title a {
  &:hover {
    text-decoration: none;
  }
}

.index-movie-not-seen {
  font-size: 24px;
  color: $primary;
}

.movie-delete-button {
  margin-left: 12px;
  margin-bottom: 24px;
  text-align: center;
  width: 205px;
}
