
<div class="new-list-container">
<h1>Add a new movie</h1>
<%= simple_form_for [@movie] do |f| %>
  <%= f.input :title %>
  <%= f.input :youtube_url, placeholder: "Youtube share link, like https://youtu.be/nPQ7om598OM", pattern: "/^(https:\/\/youtu.be\/)(.*)$/"  %>
  <%= f.submit "Save this movie", class: "btn btn-primary" %>
<% end %>
  <hr>
</div>

<div class="result-container">
  <h3>Result Preview</h3>
  <div id="results">
  </div>
</div>
