<div class="seen-list-container">
  <div class="seen-list">
  <h1><%= "#{pluralize(@seen_movies.count, 'movie')} watched" %></h1>
    <ul>
    <% @seen_movies.each do |movie| %>
        <li><%= link_to movie.title, movie_path(movie) %></li>
    <% end %>
    </ul>
  </div>
  <div class="unseen-list">
    <h1><%= "#{pluralize(@unseen_movies.count, 'movie')} not watched" %></h1>
    <ul>
    <% @unseen_movies.each do |movie| %>
        <li><%= link_to movie.title, movie_path(movie) %></li>
    <% end %>
    </ul>
  </div>
</div>
