.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.233);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// -----------------------------------------------------------------------

.navbar-movie {
  justify-content: space-between;
}

.navbar-movie .navbar-collapse {
  flex-grow: 0;
}

.navbar-movie a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-title {
  color: black;
font-size: 25px;
}

.nav-item a {
  color: rgba(0, 0, 0, 0.603);
  transition: 0.2s;
  &:hover {
  color: black;
  transition: 0.2s;
  }
}

.header__item--active a {
  color: $primary;
}
