#search-bar {
  position: sticky;
  top: 78px;
  width: 99%;
  margin-bottom: 12px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 2px;
  padding: 4px 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  &:focus {
    outline: 1px solid rgba(0, 0, 0, 0.2);
  }
}
