.movie-seen i {
  font-size: 32px;
  margin-top: 24px;
}

.movie-not-seen i {
  font-size: 32px;
  margin-top: 24px;
}

.movie-seen {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  h3 {
    margin: 0;
  }
}

.movie-seen-icone i {
  margin-bottom: 60%;
  margin-right: 8px;
}

.fa-youtube:before {
  color: rgba(255, 0, 0, 0.705);
  cursor: pointer;
}

.youtube-edit-button i {
  font-size: 30px;
  margin: 20px 0;
}

.youtube-hidden {
  display: none;
}
