// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movies-container {
  display: flex;
  width: 100%;
}


.movie-container {
  margin: 20px 20%;
}

.lists-container {
 display: flex;
}

.list {
  display: inline-block;
  background-color: black;
  height: 200px;
  width: 200px;
  margin: 20px;
  justify-content: center;
  text-align: center;
  a {
    color: white;
  }
}

button a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

  button {
    margin: 0 20px;
  }

  #title {
    font-family: helvetica;
    padding-left: 200px;
    margin: 20px 0;
    font-weight: bold;
  }

h2 a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
}

h2 a:hover {
  color: black;
  text-decoration: none;
}

h3 {
  font-size: 20px;
}
